<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Barhop</title>
    <link
      rel="stylesheet"
      href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css"
    />
    <link rel="stylesheet" href="./css/style.css"/>
<link rel="stylesheet" href="./css/style2.css"/>
  </head>
  <body>
    <nav class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <button class="menu-text"><a href="/homepage">Home</a></button>
          <button id="logout-post"><a href="/logout">Logout</a></button>
        </ul>
      </div>
    </nav>
    <div class="callout large primary">
      <div class="row column text-center">
        <h1>BarHop</h1>
        <h2 class="subheader">Community</h2>
      </div>
    </div>
    <div class="row medium-8 large-7 columns ">
      <div class="blog-post">
        {{#each allBlogs as |blog|}}
          <h3>{{blog.title}}<small>{{blog.date}}</small></h3>
          <div class="barBtn"></div>
          {{! <img class="thumbnail" src="https://placehold.it/850x350"> }}
          <p>{{blog.comment}}</p>
          {{#list blog}}{{list}} {{lastname}}{{/list}}  
          <button type="submit" class="button expanded">Follow Route</button>
          <div class="callout">
            <ul class="menu simple">
              <li>author: {{blog.author}}</li>
            </ul>1
          </div>
        {{/each}}
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script
      src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"
    ></script>
    <script>
      $(document).foundation();
    </script>
    <script src="./javascript/review.js"></script>
<script src="./javascript/blogPage.js"></script>
  </body>
</html