
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text"><a href="/homepage">Home</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>

    <div class="callout large primary">
      <div class="row column text-center">
        <h1>BarHop</h1>
        <h2 class="subheader">Community</h2>
      </div>
    </div>

    <div class="row medium-8 large-7 columns">
      <div class="blog-post">
        {{#each allBlogs as |blog|}}
        <h3 >{{blog.title}}<small>{{blog.date}}</small></h3>
        <img class="thumbnail" src="https://placehold.it/850x350">
        <p>{{blog.comment}}</p>
        {{!-- <div>{{blog.likes}}</div> --}}
        <div></div>
        <div class="callout">
          <ul class="menu simple">
            <li><a href="#">{{blog.author}}</a></li>
            {{!-- <li><a href="#">{{reply.comment}}</a></li> --}}
          </ul>
        </div>
        {{/each}}
      </div>

    </div>
